<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Textmining ziektegenen</title>
        <link rel="stylesheet" type="text/css" href="static/home.css">
    </head>

    <body>
        <div id="header-img"></div>

        <nav>
            <ul>
                <li><a href="{{ url_for ('textminer') }}">Textminer</a>
                    <ul>
                        <li><a href="{{ url_for ('homepage') }}">Information</a></li>
                        <li><a href="{{ url_for ('contact') }}">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="info-text">
                <h1>Contact</h1>
                <p>Bio-informatica HAN
                    <br>
                    Maite van den Noort - M.vandenNoort@student.han.nl
                    <br>
                    Robert Rijksen - GJ.Rijksen@student.han.nl
                    <br>
                    Noah Scheffer - NI.Scheffer@student.han.nl
                    <br>
                    Peter Cserei - PA.Cserei@student.han.nl
                </p>
            </div>
        </div>
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="1080" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Laan%20van%20Scheut%2010%206525%20EM%20Nijmegen&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>

        <div id="footer">
            <img class="rad-logo" src="../static/img/Radboudumc-logo.jpg">
	    </div>
    </body>
</html>
