<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Textmining ziektegenen</title>
        <link rel="stylesheet" type="text/css" href="static/home.css">
    </head>

    <body>
        <div id="header-img"></div>

        <nav>
            <ul>
                <li><a href="{{ url_for ('textminer') }}">Textminer</a>
                    <ul>
                        <li><a href="{{ url_for ('homepage') }}">Information</a></li>
                        <li><a href="{{ url_for ('contact') }}">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="info-text">
                <h1>Textminer</h1>
                <p>Voer een fenotype in en een gen.</p>
                <p>Klik daarna op zoek om te zoeken.</p>
            </div>

            <form class="data-form" method="post" action="/resultaat">
                <label>
                    <input list="MultiSelect" name="categorie">
                </label>
                <select id="multiSelect" multiple="multiple">
                    <option value="Gene1">Gene1</option>
                    <option value="Gene2">Gene2</option>
                    <option value="Gene3">Gene3</option>
                    <option value="Gene4">Gene4</option>
                </select>
                <label>
                    <input name="woord" type="text" placeholder="Voer zoekwoord in"/>
                </label>
                <label>
                    <input name="jaar" type="text" placeholder="Voer jaartal in"/>
                </label>
                <br>
                <br>
                <button class="button-form" type="submit" formaction="/textminer"> +Parameters</button>
                <button class="button-form" type="submit"> Zoek!</button>
            </form>
            <br>
            <script src="multiselect.min.js"></script>
        </div>

        <div id="footer">
            <img class="rad-logo" src="../static/img/Radboudumc-logo.jpg">
	    </div>
    </body>
</html>
