<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Textmining ziektegenen</title>
        <link rel="stylesheet" type="text/css" href="static/home.css">
    </head>

    <body>
        <div id="header-img"></div>

        <nav>
            <ul>
                <li><a href="{{ url_for ('textminer') }}">Textminer</a>
                    <ul>
                        <li><a href="{{ url_for ('homepage') }}">Information</a></li>
                        <li><a href="{{ url_for ('contact') }}">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="info-text">
                <h1>Textminer</h1>
                <p>Voer een fenotype en/of een gen in.</p>
                <p>Klik daarna op zoek voor de resultaten.</p>
            </div>

            <form class="data-form" method="post" action="/resultaat">
                <label>
                    <input name="woord" type="text" placeholder="Voer zoekwoord in"/>
                </label>
                <label>
                    <input name="gen" type="text" placeholder="Voer gen in" style="width: 400px"/>
                </label>
                <button class="button-form" type="submit"> Zoek!</button>
            </form>
        </div>

        <div id="footer">
            <img class="rad-logo" src="../static/img/Radboudumc-logo.jpg">
	    </div>
    </body>
</html>
